/* *** Desktops *** */
@include mediaXl {
    section {
        .container {
            padding: 7rem 7rem 2rem;
        }
    }
}

/* *** Laptops *** */
@include mediaLg {

    section {
        .container {
            padding: 5rem 5rem 2rem;
        }

        .container.grid {
            grid-template-columns: 1fr;
        }
    }

    #home {
        h1 {
            width: 100%;
            position: relative;
            z-index: 2;
        }
    }

    #about {
        .header-container {
            .heading-info {
                align-self: flex-start;
            }
        }

        .left-side {
            order: 2;
        }

        .right-side {
            justify-self: center;
        }
    }

    #features {
        .grid {
            justify-items: center;
        }

        .feature-container.grid {
            grid-template-columns: 1fr;
            justify-self: center;
        }

        &::after {
            top: 85%;
            right: 8%;
        }
    }

    #product {
        .md-heading {
            margin-top: 8rem;
        }

        .container.grid {
            grid-template-columns: 1fr;
        }

        .left-side {
            display: none;
        }
    }

    #testimonial {
        .slider-container {
            .slide {
                max-width: 80%;
            }

            .next {
                left: 0;
            }

            .prev {
                right: 0;
            }
        }
    }

    #blog {
        .grid {
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }

    #form {
        .header-container {
            p.heading-info {
                visibility: hidden;
            }
        }

        .form-container {
            width: 80%;
            margin-bottom: -2rem;
        }
    }

    footer {
        p.basic-text {
            max-width: 80%;
        }
    }
}

/* *** Tablets And Small Laptops *** */
@include mediaMd {

    :is(h1, h2, h3, h4) {
        margin-bottom: .75rem;
    
        &.lg-heading {
            font-weight: 800;
            font-size: 3rem;
        }
    
        &.md-heading {
            font-weight: 700;
            font-size: 2rem;
        }
    
        &.sm-heading {
            font-weight: 600;
            font-size: 1.5rem;
        }
    }

    section {
        .container {
            padding: 3rem 3rem 2rem;
        }
    }

    #home {
        .left-side {
            width: 100%;

            h1 {
                margin-top: 4rem;
                text-align: center;
            }

            p.basic-text {
                max-width: 80%;
            }

            .btn.btn-primary {
                align-self: center;
            }
        }
    }

    #about {
        .header-container {
            p.heading-info {
                align-self: center;
            }
        }

        .card-container {
            align-self: center;
        }
        
    }

    #features {
        .header-container {
            p.basic-text {
                max-width: 80%;
            }
        }
    }

    #product {
        .container {
            .right-side {
                .header-container {
                   h2,
                   p.basic-text {
                       align-self: center;
                   }

                   p.basic-text {
                       max-width: 80%;
                   }

                }
            }
        }
    }

    #video-section {

        .header-container {
            p.basic-text {
                max-width: 80%;
                margin-bottom: 3rem;
            }
        }

        .video-container {
            iframe {
                width: 480px;
                height: 270px;
            }
        }

        .subscribe {
            width: 100%;

            .sm-heading {
                margin-top: 0 0 1.5rem;
                font-size: 1.5rem;
            }

            .input-container {
                .input[type='email'] {
                    width: 100%;
                }
            }
        }
    }

    #testimonial {
        p.basic-text {
            max-width: 80%;
        }

        .slider-container {
            margin: 0;
            padding-bottom: 0;

            .slide {
                flex-direction: column;

                p.author-text {
                    margin-top: 2.5rem;
                }

                .slide-img {

                    img {
                        left: 25%;
                        width: 50%;
                    }
                }
            
                &::before {
                    top: 0;
                    left: 75%;
                }
            }

            .next, .prev {
                top: 45%;
            }

            &::before,
            &::after {
                width: 45px;
                height: 45px;
            }

            &::before {
                top: 85%;
                right: 35%;
            }

            &::after {
                top: 72%;
                right: 55%;
            }
        }
    }

    #faq {
        .accordion-container {
            width: 80%;
        }
    }

    #form {
        .form-container {
            form.grid {
                grid-template-rows: 2fr 1fr 3fr;

                .basic.grid {
                    grid-template-columns: 1fr;

                    input.btn.btn-primary {
                        margin: 0;
                    }
                }
            }
        }
    }

    footer {
        padding: .5rem;
    }
}

/* *** Mobile Phones *** */
@include mediaSm {
    body {
        font-size: .9rem;
    }

    .links {
        display: none;
    }

    section {
        .container {
            padding: 1rem 1rem 0;

            .header-container {
                p.basic-text {
                    max-width: 90%;
                    color: $dark-color;
                }
            }   
        }
    }

    :is(h1, h2, h3, h4) {
        margin-bottom: .5rem;
    
        &.lg-heading {
            font-weight: 800;
            font-size: 2rem;
        }
    
        &.md-heading {
            font-weight: 700;
            font-size: 1.5rem;
        }
    
        &.sm-heading {
            font-weight: 600;
            font-size: 1.2rem;
        }
    }


    #header {
        .logo {
            padding-left: 1rem;

            a {
                span {
                    font-size: 1.2rem;
                }

                img {
                    width: 50px;
                }
            }
        }

        .menu-btn {
            top: 1.5rem;
            right: 1rem;
        }

        .menu {
            .nav-link {
                font-size: 1.4rem;
            }
        }
    }
    
    #about {
        .card-container.grid {
            grid-template-columns: 1fr;
        }
    }

    #features {
        .header-container {
            p.basic-text {
                max-width: 90%;
            }
        }

        &::after {
            top: 92%;
            right: 0;
        }
    }

    #product {
        .right-side {
            .header-container {
                h2.md-heading {
                    text-align: center;
                }
            }

            .why-container {
                    flex-direction: column;
            }
        }
    }

    #video-section {
        .header-container {
            text-align: center;
        }
        
        .video-container {
            padding: 0;

            iframe {
                width: 320px;
                height: 180px;
            }

            &::before {
                margin: auto;
                height: 100%;
                width: 100%;
            }
        }

        .subscribe {
            font-size: 1rem;

            h3.sm-heading {
                text-align: center;
            }

            .input-container {
                flex-direction: column;

                input[type='email'] {
                    width: 100%;
                }

                button.btn.btn-submit {
                    margin: 1rem 0 0 0;
                }
            }
        }
    }

    #testimonial {
        p.basic-text {
            max-width: 90%;
        }

        .slider-container {
            margin: 0;
            padding-bottom: 0;

            .slide {
                max-width: 95%;
                padding: 0;
                align-items: center;

                .slide-text {
                    width: 100%;
                }

                p.author-text {
                    margin-top: 2.5rem;
                }

                .slide-img {
                    img {
                        left: 25%;
                        top: 0;
                        width: 50%;
                    }
                }
            
                &::before {
                    top: 35%;
                    left: 75%;
                }

                &::after {
                    top: -16%;
                    left: -10%;
                }
            }

            .next, .prev {
                top: 90%;
            }

            &::before {
                top: 90%;
                right: 25%;
            }

            &::after {
                top: 72%;
                right: 60%;
            }
        }
    }

    #blog {
        .items-container {
            .blog-item {
                justify-self: center;

                img {
                    width: 80%;
                }
            }
        }
    }

    #faq {
        .header-container {
            h2 {
                text-align: center;
            }
        }

        .accordion-container {
            width: 95%;
        }
    }

    #form {
        .header-container {
            h2 {
                position: relative;
                top: 4rem;
            }

            p.basic-text {
                visibility: hidden;
            }
        }

        .form-container {
            width: 100%;
            margin-bottom: 1rem;
            padding: 1rem;

            form.grid,
            .basic.grid {
                gap: .5rem;
            }
        }
    }
}