@import 'config';
@import 'menu';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

/* *** Headings *** */
:is(h1, h2, h3, h4) {

    &.lg-heading {
        font-weight: 800;
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    &.md-heading {
        font-weight: 700;
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    &.sm-heading {
        font-weight: 600;
        margin-bottom: 2rem;
        background: rgba(lighten($color: $primary-color, $amount: 5%), .5);
    }
}

/* *** Base Styles *** */

a {
    color: $primary-color;
    text-decoration: none;
}

img {
    height: 100%;
    width: auto;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.container {
    padding: 2rem 10rem;
    padding-top: 10rem;
}

.btn {
    color: $primary-color;
    border: 0;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    @include easeOut;

    &:hover {
        transform: scale(1.02);
    }

    &:active {
        transform: scale(.98);
    }
}

.btn-primary {
    background-image: $gradient;
    align-self: flex-start;
    margin-top: 2rem;
}

.heading-info {
    font-weight: 500;
    font-size: 1.2rem;
    color: #6809dc;
    margin-bottom: 0;
}

.basic-text {
    color: lighten(set-text-color($primary-color), 10);
    line-height: 2.0;
}

/* *** Header *** */

header {
    position: fixed;
    z-index: 5;
    width: 100%;

    .logo {
        
        a {
            img {
                width: 100px;
            }
        }
    }
}

.links {
    display: none;
}

#home {
    min-height: 100vh;
    background-image: url(../assets/bg/banner-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;

    .left-side {
        justify-self: flex-end;
        width: 80%;
        color: $primary-color;

        .basic-text {
            color: $primary-color !important;
        }
    }
}

#about {

    .right-side.flex {
        max-width: 80%;
        align-items: flex-start;
    }

    .card-container {
        margin-top: 2rem;
        align-self: flex-end;

        .card {
                font-size: 1.2rem;
                font-weight: 600;
                padding: 1rem;
                box-shadow: 0 0 5px 5px rgba($secondary-color, .15);
                @include easeOut;

             i {
                 color: #1d46f5;
                 margin-bottom: 1rem;
             }

             &:hover {
                 transform: translate(-2px,-2px);
                 box-shadow: 10px 2px 5px 5px rgba($secondary-color, .25);
             }
        }
    }
}

#features {
    position: relative;

    h2 {
       margin-bottom: 1rem;
    }

    .basic-text {
        margin-bottom: 2rem;
    }

    .feature-container {
        position: relative;
        margin-top: 2rem;

        .feature-item.flex {
            flex-direction: row;
            max-width: 80%;
            padding: 1rem;
            background-color: $primary-color;
            padding-bottom: 0;
            border-radius: .5rem;
            border-bottom: 3px solid #1d46f5;
            box-shadow: 0 0 5px 10px rgba($secondary-color, .15);
        }

        .contain-icon {
            padding: 1rem;
            margin-right: 1rem;
            border-radius: 50%;
            box-shadow: 0 0 5px 5px rgba(#1d46f5, .3);
            color: #1d46f5;
        }

        h4 {
            margin-bottom: 0; 
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 30%;
        width: 250px;
        height: 250px;
        background-color: transparent;
        background-image: radial-gradient(
           #1d46f5 4px, transparent 4px
        );
        background-size: 25px 25px;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 80%;
        right: 40%;
        width: 250px;
        height: 250px;
        background-color: transparent;
        background-image: radial-gradient(
            #6809dc 4px, transparent 4px
        );
        background-size: 25px 25px;
        z-index: -1;
    }
}

#product {
    min-height: 100vh;
    background-image: url(../assets/bg/banner-2.png);
    background-repeat: no-repeat;
    margin-top: 5rem;

    h2 {
        align-self: flex-start;
        margin-bottom: 0;
    }

    .basic-text {
        margin-bottom: 2rem;
    }

    .container.grid {
        padding-top: 5rem;
        grid-template-columns: 1fr 1.5fr;
    }

    .left-side {
            img {
                max-height: 50%;
            }
    }

    .right-side {
        :is(.basic-text, h2) {
            color: $primary-color;
        }

        .why-container {
            background-color: $primary-color;
            padding: 1rem;
            margin-bottom: 2rem;
            border-radius: .5rem;
            flex-direction: row;


            .why-item {

                h4 {
                    margin-bottom: 0;
                }

                .basic-text {
                    color: $secondary-color;
                    max-width: 70%;
                }

                .contain-icon {
                    padding: 1rem;
                    margin-right: 1rem;
                    border-radius: 50%;
                    box-shadow: 0 0 5px 5px rgba(#1d46f5, .3);
                    color: #1d46f5;
                }
            }
           
        }
    }
    
}



@import 'mobile';