@import 'config';
@import 'menu';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');


/* *** Base Styles *** */
* {
    box-sizing: border-box;
}

body {
    background: $primary-color;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

/* *** Headings *** */
:is(h1, h2, h3, h4) {
    margin-bottom: 1rem;

    &.lg-heading {
        font-weight: 800;
        font-size: 4rem;
    }

    &.md-heading {
        font-weight: 700;
        font-size: 2.5rem;
    }

    &.sm-heading {
        font-weight: 600;
        font-size: 1.8rem;
    }
}

a {
    color: $primary-color;
    text-decoration: none;
}

img {
    height: 100%;
    width: auto;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.container {
    padding: 2rem 10rem;
    padding-top: 10rem;
}

.btn {
    color: $primary-color;
    border: 0;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 1.5rem;
    @include easeOut;

    &:hover {
        transform: scale(1.02);
    }

    &:active {
        transform: scale(.98);
    }
}

.btn-primary {
    background-image: $gradient;
    align-self: flex-start;
    margin-top: 2rem;
}

.header-container {
    .heading-info {
        font-weight: 500;
        font-size: 1.2rem;
        color: #6809dc;
        margin-bottom: -1rem;
    }
    
    .basic-text {
        color: lighten(set-text-color($primary-color), 10);
        line-height: 2.0;
        margin-bottom: 2rem;
    }
}


/* *** Header *** */

header {
    position: fixed;
    z-index: 5;
    width: 100%;

    .logo {
        
        a {
            img {
                width: 100px;
            }
        }
    }
}

.links {
    display: none;
}

#home {
    min-height: 100vh;
    background-image: url(../assets/bg/banner-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;

    .left-side {
        justify-self: flex-end;
        width: 90%;
        color: $primary-color;

        .basic-text {
            color: $primary-color !important;
        }
    }
}

#about {

    .right-side.flex {
        max-width: 80%;
        align-items: flex-start;
    }

    .card-container {
        margin-top: 2rem;
        align-self: flex-end;

        .card {
                font-size: 1.2rem;
                font-weight: 600;
                padding: 1rem;
                box-shadow: 0 0 5px 5px rgba($secondary-color, .15);
                @include easeOut;

             i {
                 color: #1d46f5;
                 margin-bottom: 1rem;
             }

             &:hover {
                 transform: translate(-2px,-2px);
                 box-shadow: 10px 2px 5px 5px rgba($secondary-color, .25);
             }
        }
    }
}

#features {
    position: relative;

    .feature-container {
        position: relative;
        margin-top: 2rem;

        .feature-item.flex {
            flex-direction: row;
            max-width: 80%;
            padding: 1rem;
            background-color: $primary-color;
            padding-bottom: 0;
            border-radius: .5rem;
            border-bottom: 3px solid #1d46f5;
            box-shadow: 0 0 5px 10px rgba($secondary-color, .15);
        }

        .contain-icon {
            padding: 1rem;
            margin-right: 1rem;
            border-radius: 50%;
            box-shadow: 0 0 5px 5px rgba(#1d46f5, .3);
            color: #1d46f5;
        }

        h4 {
            margin-bottom: 0; 
        }
    }

    &::before {
        content: '';
        position: absolute;
        top: 30%;
        width: 250px;
        height: 250px;
        background-color: transparent;
        background-image: radial-gradient(
           #1d46f5 4px, transparent 4px
        );
        background-size: 25px 25px;
        z-index: -1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 80%;
        right: 40%;
        width: 250px;
        height: 250px;
        background-color: transparent;
        background-image: radial-gradient(
            #6809dc 4px, transparent 4px
        );
        background-size: 25px 25px;
        z-index: -1;
    }
}

#product {
    min-height: 100vh;
    background-image: url(../assets/bg/banner-2.png);
    background-repeat: no-repeat;
    margin-top: 5rem;

    .container.grid {
        padding-top: 5rem;
        grid-template-columns: 1fr 1.5fr;
    }

    .left-side {
            img {
                max-height: 50%;
            }
    }

    .right-side {

        .header-container {

            h2 {
                align-self: flex-start;
            }

            .basic-text, h2 {
                color: $primary-color;
            }
        }

        .why-container {
            background-color: $primary-color;
            padding: 1rem;
            margin-bottom: 2rem;
            border-radius: .5rem;
            flex-direction: row;


            .why-item {

                h4 {
                    margin-bottom: 0;
                }

                .basic-text {
                    color: $secondary-color;
                    max-width: 70%;
                }

                .contain-icon {
                    padding: 1rem;
                    margin-right: 1rem;
                    border-radius: 50%;
                    box-shadow: 0 0 5px 5px rgba(#1d46f5, .3);
                    color: #1d46f5;
                }
            }  
        }
    }  
}

#video-section {

    .header-container {

        .basic-text {
            margin-bottom: 3rem;
            max-width: 50%;
        }
    }
    

    .video-container {
        position: relative;
        padding: 2rem;
        border-radius: 1rem;
        box-shadow: 0 0 10px 10px rgba($secondary-color, .15);
        
        &::before {
            content: '';
            position: absolute;
            margin: auto;
            height: calc(100% - 4rem);
            width: calc(100% - 4rem);
            background-color: rgba($color: #1d46f5, $alpha: .8);
        }

        &::after {
            content: '\f35a';
            position: absolute;
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            font-size: 3rem;
            color: $primary-color;
            border-radius: 50%;
            z-index: 2;
            animation: clickMe 1s ease-out infinite;
        }
    }

    .subscribe {
        margin-top: 5rem;
        padding: 2rem;
        border-radius: 1rem;
        background-image: $gradient;
        color: $primary-color;
        min-width: 60%;

        .sm-heading {
            font-size: 2rem;
            background-color: transparent;
        }
        
        .input-container {
            width: 100%;
            flex-direction: row;

            input[type='email'] {
                width: 50%;
                padding: .75rem 1rem;
                font-size: 1.2rem;
                outline: none;
                border: 2px solid transparent;
                border-radius: 2rem;

                &:focus {
                    border: 2px solid #6809dc;
                }
            }

            .btn-submit {
                margin-left: -2.5rem;
                font-size: 1rem;
                background-color: lighten(#1d46f5, 5);
                border-radius: 2rem;

                &:hover {
                    background-color: lighten($color: #1d46f5, $amount: 15);
                }
            }
        }
    }
}

#testimonial {
    background-color: lighten($secondary-color, 70);

    .slider-container {
        position: relative;
        margin: 3rem 0;
        padding: 2rem;

        .slide {

            max-width: 60%;
            position: relative;
            padding: 2rem;
            border-radius: .5rem;
            flex-direction: row;

            .slide-text {
                max-width: 80%;
            }

            .slide-img {
                img {
                    position: relative;
                    height: 100%;
                    width: auto;
                    border: 1px solid #1d46f5;
                    box-shadow: 0 0 5px 5px rgba($color: #1d46f5, $alpha: .2);
                    border-radius: 50%;
                    z-index: 2;
                }
            }

            .author-text {
                align-items: flex-start;
                font-weight: 600;
                font-size: 1.2rem;
                color: #6809dc;

                span {
                    font-size: .9rem;
                    font-weight: 300;
                    color: lighten($secondary-color, 5);
                }
            }

            &::before {
                content: '\f10e';
                position: absolute;
                top: 40%;
                left: 50%;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 5rem;
                color: #1d46f5;
                opacity: .3;
            }

            &::after {
                content: '\f10d';
                position: absolute;
                top: 0;
                left: 0;
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
                font-size: 5rem;
                color: #1d46f5;
                opacity: .3;
            }
        }

        .next,
        .prev {
            position: absolute;
            color: #1d46f5;
            top: 80%;
            padding: .5rem 1.5rem;
            border: 1px solid #333;
            @include easeOut;

            &:hover {
                color: #6809dc;
                border: 1px solid lighten(#333, 10);
            }
        }

        .next {
            left: 45%;
        }

        .prev {
            right: 45%;
        }

        &::before {
            content: '';
            position: absolute;
            top: 50%;
            right: 20%;
            width: 180px;
            height: 180px;
            background: $gradient;
            border-radius: 5% 95% 16% 84% / 63% 20% 80% 37%;
            opacity: .9;
        }

        &::after {
            content: '';
            position: absolute;
            top: 10%;
            right: 30%;
            width: 180px;
            height: 180px;
            background: $gradient;
            border-radius: 20% 80% 74% 26% / 82% 52% 48% 18% ;
            opacity: .9;
        }
    }
}

#faq {

    .accordion-container {
        width: 60%;

        .box {
            width: 100%;
            margin-bottom: .5rem;
        }

        .accordion-header {
            position: relative;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            padding: .25rem 1rem;
            color: $primary-color;
            background: $gradient;
            border-bottom-left-radius: 1rem;
            border-top-left-radius: 1rem;

            &::before {
                content: '+';
                position: absolute;
                top: .75rem;
                right: 1rem;
                font-size: 2rem;
            }
        }

        .accordion-body {
            height: 0;
            overflow: hidden;
            @include easeOut;
        }

        .box.active {
            .accordion-body {
                height: 120px;
                margin: 0 1rem;
                padding: 1rem 1.5rem 0 1.5rem;
                overflow-y: auto;
                box-shadow: 0 0 5px 5px rgba($secondary-color, .15);
            }

            .accordion-header {
                &::before {
                    content: '-';
                }
            }
        }
    }
}





/* *** Animation *** */

@keyframes clickMe {
    0% {
        transform: translateX(0)
    }
    20% {
        transform: translateX(-5px)
    }
    100% {
        transform: translateX(10px)
    }
}

@import 'mobile';